
<head>
<style>
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-floating mb-3">
                <%= f.label :username %>
                <%= f.text_field :username, autofocus: true, class: 'form-control' %>
              </div>

              <div class="form-floating mb-3">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
              </div>
              
              <div class="form-floating mb-3">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
              </div>
              
              <div class="form-floating mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
              
              <div class="form-floating mb-3">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                 <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>
              
              <div class="form-floating mb-3">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>
              <%= f.label :role, "Doctor", :value => "doctor"  %>
              <%= f.radio_button :role, 'doctor' %>
              <%= f.label :role, "Patient", :value => "patient" %>
              <%= f.radio_button :role, 'patient', :checked => true %>

              </br>
              </br>
              <% if f.radio_button :role, 'doctor', :checked => true %>
                <div id="doctor-field">
                  <div class="field">
                    <%= f.label :specialist %>
                    <%= f.text_field :specialist, autofocus: true, class: 'form-control' %>
                  </div>

                  <div class="field">
                    <%= f.label :experience %>
                    <%= f.number_field :experience, autofocus: true, class: 'form-control' %>
                  </div>
                </div>
              <% end %>

              <div class="d-grid">
                <%= f.submit "Sign up", class: 'btn btn-primary' %>
              </div>
            <% end %>
              <hr class="my-4">
              <div class="d-grid mb-2">
                <%= render "devise/shared/links" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){

    $("#doctor-field").hide();

    $("#user_role_doctor").change(function(){  

            if(this.value == 'doctor' && this.checked){
              $("#doctor-field").show();
            }else{
              $("#doctor-field").hide();
            }

    });

});
</script>
</body>