<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <% curr_user = User.find(@appointment.doctor_id) %>
  <%= curr_user.first_name + ' ' + curr_user.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.first_name + ' ' + current_user.last_name %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-outline-dark' %> |
<%= link_to 'Back', appointments_path, class: 'btn btn-outline-warning' %>
